<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-UserManagement-20140520115950.mdf;Initial Catalog=aspnet-UserManagement-20140520115950;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LS_SecurityDb" connectionString="Data Source=Abdul_Mannan_PC;User ID=sa;Password=sa1234;Initial Catalog=LS_SecurityDB" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Following keys are required for module identification. If Any Module is not used then set the value="False" -->
    <add key="Security" value="UM.Biz"/>
    <!-- For Checking whether system will log activity or not-->
    <add key="LogActivity" value="false"/>
    <add key="LogCrudOperations" value="false"/>
    <!-- For Checking whether system will log crud operations or not-->
    <!-- For Activity Log Module Identification-->
    <!-- For Crud Log Module Identification-->
    <add key="SecDbName" value="LS_SecurityDB_TPIN"/>
    <!--Follwing keys are required for common messaging purposes -->
    <add key="SAVE" value="Data Saved Successfully!"/>
    <add key="DELETE" value="Data Deleted Successfully!"/>
    <add key="NOTFOUND" value="Data Not Found!"/>
    <add key="FOUND" value="Data Already Exists!"/>
    <add key="NOTDELETE" value="Data Cannot be Deleted. Relational Data Found!"/>
    <add key="NOTEDIT" value="Data is not Editable!"/>
    <add key="MANDATORY" value="Enter Value!"/>
    <add key="DATEFORMATVALIDATION" value="Invalid Date!"/>
    <add key="TIMEFORMATVALIDATION" value="Invalid Time!"/>
    <add key="NUMERIC" value="Enter Positive Numeric Value!"/>
    <add key="STRING" value="Enter String Value!"/>
    <add key="ALPHANUMERIC" value="Enter Alphanumeric Value!"/>
    <add key="RANGE" value="Enter Value Between 'a' and 'b'"/>
    <add key="EMAIL" value="Invalid Email Id!"/>
    <add key="INTEGER" value="Enter Number!"/>
    <add key="LENGTH" value="Maximum Length Exceeds!"/>
    <add key="READONLY" value="Data is Read Only!"/>
    <!--Follwing keys are required for selecting date format 
    Availabe formats are dd-MM-YYYY, MM-dd-YYYY, dd-MM-YY, MM-dd-YY-->
    <add key="DATEFORMAT" value="dd-MM-yyyy"/>
    <add key="LISTPAGESIZE" value="20" />
    <!--Following keys are required for rewriting URL. It should be used at
        global.asax for URL routing just after controller name. It should be also used
        where controller name is used for URL redirection. This should be added just
    after controller name. 
    Value can be empty OR .aspx. It depends on IIS version and setting as follows:
    IIS 5.1 :: empty
    IIS .0  :: .aspx
    -->
    <!--<add key="REWRITEURL" value=".aspx" />-->
    <add key="REWRITEURL" value=""/>
    <!--Follwoing keys indicates the Database Server type we are connecting-->
    <add key="DBSERVER" value="SQLSERVER"/>
    <!--Following key indicates whether we are connecintg to Security Module or
    the Application Software Module-->
    <add key="SECURITYMODULE" value="true"/>
    <!--Following key indicates the CacheDependency File Name-->
    <add key="CACHE_DEPENDENCY_FILE_PATH" value="C:\"/>
    <!--Following key indicates whether the Site Map will be loaded on Tree or Menu
            If it is on a tree the LSSiteMapProviderModular can not be used.-->
    <add key="MenuSiteMap" value="true"/>
    <!--Setting for using webservice-->
    <add key="IsWebServiceActive" value="false"/>
    <add key="ClientValidationEnabled" value="false"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>