<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SoftOneUI-20140520121228.mdf;Initial Catalog=aspnet-TestMVCNew-20140520121228;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Security" value="UM.Biz"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Common" value="LS.Common.BLL" />
    <add key="HR" value="LS.HR.BLL" />
    <add key="Training" value="LS.Training.BLL" />
    <add key="PR" value="LS.PR.BLL" />
    <add key="INV" value="LS.INV.BLL" />
    <add key="SO" value="LS.SO.ModelBiz" />
    <add key="SD" value="LS.SD.ModelBiz" />
    <add key="Test" value="S1.Test.ModelBiz" />
    <add key="EVTM" value="LS.EVTM.ModelBiz" />
    <add key="EVTMEngine" value="LS.EVTM.Engine" />
    <add key="RuleEngine" value="LS.RuleEngine.ModelBiz" />
    <add key="DataTransfer" value="LS.DataTransfer.ModelBiz" />
    <add key="PM" value="LS.PM.ModelBiz" />
    <add key="LMS" value="LS.LMS.ModelBiz" />
    <add key="FMS" value="LS.FMS.ModelBiz" />
    <add key="PMS" value="LS.PMS.ModelBiz" />
    <add key="PFMS" value="LS.PFMS.ModelBiz" />
    <add key="Approval" value="LS.Approval.ModelBiz" />
    <add key="Loan" value="LS.Loan.ModelBiz" />
    <add key="FAMS" value="LS.FAMS.ModelBiz" />
    <!--BELOW KEYS ARE REQUIRED FOR REPORT PURPOSES -->
    <add key="RPTPath" value="E:\Mannan`s_Working_Folder\PROJECT FILE\Centerpoint\Development\Version 4.1\PharmaUltimus\PharmaUltimus.UI\ReportFiles\" />
    <add key="RPTServerName" value="pcsw122" />
    <add key="RPTDBName" value="QC_BV250214" />
    <add key="RPTSVRuid" value="sa" />
    <add key="RPTSVRpwd" value="sa1234" />
    <!--BELOW KEYS ARE REQUIRED FOR REPORT FORMULA PARAM NAMES -->
    <add key="COMPANYNAME" value="CompanyName" />
    <add key="COMPANYADDRESS" value="CompanyAddress" />
    <!--BELOW KEYS ARE REQUIRED FOR IDENTIFICATION OF REPORT ENGINE-->
    <add key="RPTAssembly" value="LS.ReportEngineCR" />
    <add key="RPTClass" value="LS.ReportEngineCR.ReportCrystal" />
    <!--BELOW KEYS ARE REQUIRED FOR COMMON MESSAGING PURPOSES -->
    <add key="SAVE" value="Data Saved Successfully!" />
    <add key="NOTSAVE" value="Data Not Saved!" />
    <add key="DELETE" value="Data Deleted Successfully!" />
    <add key="DELETEASK" value="Are You Sure, You Want To Delete?" />
    <add key="NOTFOUND" value="Data Not Found!" />
    <add key="FOUND" value="Data Already Exists!" />
    <add key="NOTDELETE" value="Data Cannot be Deleted. Relational Data Found!" />
    <add key="NOTEDIT" value="Data is not Editable!" />
    <add key="READONLY" value="Data is Read Only!" />
    <add key="MANDATORY" value="Enter Value!" />
    <add key="DATEFORMATVALIDATION" value="Invalid Date!" />
    <add key="TIMEFORMATVALIDATION" value="Invalid Time!" />
    <add key="NUMERIC" value="Enter Positive Numeric Value!" />
    <add key="STRING" value="Enter String Value!" />
    <add key="ALPHANUMERIC" value="Enter Alphanumeric Value!" />
    <add key="RANGE" value="Enter Value Between 'a' and 'b'" />
    <add key="EMAIL" value="Invalid Email Id!" />
    <add key="INTEGER" value="Enter Number!" />
    <add key="LENGTH" value="Maximum Length Exceeds!" />
    <add key="APPROVE" value="Data Approved Successfully!" />
    <add key="REJECT" value="Data Rejected Successfully" />
    <add key="DECLINE" value="Data Declined Successfully" />
    <!--BELOW KEY IS REQUIRED FOR PAGING -->
    <add key="PAGESIZE" value="20" />
    <!--BELOW KEY IS REQUIRED FOR NUMBER FORMATTING -->
    <add key="NUMBERFORMAT" value="###########0.00" />
    <!--For Delivery Challan -->
    <add key="EXTERNALSOURCE" value="true" />
    <add key="NOOFLINKS" value="10" />
    <!--if  true, stock will be maintain in Challan, false for maintain in Invoice -->
    <!--BELOW KEYS ARE REQUIRED FOR SELECTING ADO.NET PROVIDER. 
    FOR ORACLE THE VALUE IS Oracle.DataAccess.Client
    FOR SQL SERVER VALUE IS System.Data.SqlClient etc...-->
    <add key="PROVIDERTYPE" value="System.Data.SqlClient" />
    <!--BELOW KEY IS FOR IDENTIFICATION OF DB. FOR ORACLE THE VALUE IS "Oracle" and
    FOR SQL SERVER VALUE IS "SQLSERVER"-->
    <add key="DBSERVER" value="SQLSERVER" />
    <!--BELOW KEY ARE FOR DB PREFIX-->
    <add key="DBPrefix" value="QC_BV250214.DBO." />
    <!--BELOW KEY ARE FOR Security DB PREFIX-->
    <add key="SecurityDBPrefix" value="QC_BVSecurity250214.DBO." />
    <!--BELOW KEYS ARE REQUIRED FOR SELECTING Date Format 
    Availabe formats are dd-MM-YYYY, MM-dd-YYYY, dd-MM-YY, MM-dd-YY-->
    <add key="DATEFORMAT" value="dd-MM-yyyy" />
    <!--BELOW KEYS ARE REQUIRED FOR SELECTING ActionDate Format 
    Availabe formats "yyyy-MM-dd HH:mm:ss.fff"-->
    <add key="ACTIONDATEFORMAT" value="yyyy-MM-dd HH:mm:ss.fff" />
    <!--BELOW KEYS ARE FOR EMPLOYEE PIC SIG MAX IMAGE SIZE. Key value considered as Byte-->
    <add key="PICSIGSIZE" value="75000" />
    <!--BELOW KEYS ARE REQUIRED FOR REWRITING URL. IT SHOULD BE USED AT GLOBAL FILE FOR URL ROUTING JUST AFTER
    CONTROLLER NAME. IT SHOULD BE ALSO USED WHERE CONTROLLER NAME IS USED FOR URL REDIRECTION. THIS SHOULD BE
    ADDED JUST AFTER CONTROLLER NAME.
    VALUE WOULD BE empty OR .aspx. IT DEPENDS IIS VERSION AND SETTINGS.-->
    <add key="REWRITEURL" value="" />
    <!--Following keys indicates whether we are connecintg to Security Module or
  the Application Software Module-->
    <add key="SECURITYMODULE" value="false" />
    <!--Following key indicates the CacheDependency File Name-->
    <add key="CACHE_DEPENDENCY_FILE_PATH" value="C:\" />
    <!-- BELOW KEY ID FOR CONTROLLING FILE TYPE AND LEVEL CREATION IN GENERALE CODE FILE-->
    <add key="AllowToCreateCodeFileTypeAndLevel" value="false" />
    <add key="MenuSiteMap" value="true" />
    <!-- Following key indicates where to upload  files-->
    <add key="UploadPath" value="D:\UploadFile" />
    <!-- Following key indicates CustomerType for Centerpoint. Here only page code 7, 9 and 12 are valid.-->
    <add key="CustomerTypes" value="7-Doctor,12-Customer,9-Institute" />
    <add key="ProductRateTypes" value="0-Distributor Rate,1-Whole Sale Rate,2-M.R.P" />
    <!-- Following key indicates whether to follow SMGBusiness or not. For now, value will be "false" for Vitalac and Ziska. "true" for Leads-->
    <add key="IsSMGBusiness" value="true" />
    <add key="LISTPAGESIZE" value="20" />

    <!-- Open Dashboard after Login -->
    <!--
   <add key="OpenDashboardAfterLogin" value="true" />
    -->
    <!--Value 'true' For Centralize System /Online ,Value 'false' for Decentralize/Off Line.-->
    <add key="IsCentralizeSystem" value="true" />
    <!-- BELOW KEY ID TO ALLOW SAME USER CAN LOGGED IN FROM DIFFERENT WORKSTATIONS-->
    <add key="AllowToLoggedInSameUser" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />

   
    <add key="PreserveLoginUrl" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>